/*-------------------------------------------------------------------------------
 *
 * @Color-principal: ;
 *
 * @Gris-Alto:     #23262B;
 * @Gris-Medio:    #2C2F35;
 * @Gris-Bajo:     #3E454C; 
 *
 * cp-    contenido principal
 *-----------------------------------------------------------------------------*/

* {
	margin: 0px;
	padding: 0px;
}

body, 
html{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

/*---------------------------------------------------------------------------------
 * Principal Content
 *-------------------------------------------------------------------------------*/

.sb-site-container{
	background-color: #ffffff;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.sb-site-container > .cp-header {
	background-color: #3E454C;
	color: #f2f2f2;
	padding: 0px 0px 0px 15px;
	width: 100%;
	height: 55px;
}

.sb-site-container > .cp-header > div > .fa-bars {
	/*Bars*/
	line-height: 58px !important; 
	font-size: 20px;
}

.sb-site-container > .cp-header > .cp-user {
	/*UserPanel*/
	padding: 10px 15px 10px 15px;
	background-color: #2C2F35; 
	height: 55px;
	line-height: 33px;
}

.sb-site-container > .cp-header > .cp-user  > div  > .fa-chevron-down {
	font-size: 10px;
	margin-right: 9px;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.sb-site-container > .cp-content > .background-user{
	position: relative;
	width: 100%;
	height: 200px;
	background-image: url('../img/background-user.jpg');
	background-size: 100% 100%;
}

.sb-site-container > .cp-content > .background-user > img{
	border: 7px solid #ffffff;
	border-radius: 50%;
	position:absolute;
	top:100%;
	left:50%;

	-webkit-transform:  translate(-50%, -50%);
	   -moz-transform:  translate(-50%, -50%);
	     -o-transform:  translate(-50%, -50%);
	        transform:  translate(-50%, -50%);	
}

.sb-site-container > .cp-content > .user-info {
	margin: auto;
	text-align: center;
	margin-top: 55px;
}


/*---------------------------------------------------------------------------------
 * SideBar Left
 *-------------------------------------------------------------------------------*/

.sb-left > .sb-header{
	width: 100%;
	height: 110px;
	background-color: #2C2F35;
}

/*---------------------------------------------------------------------------------
 * Helper Classes
 *-------------------------------------------------------------------------------*/

.mar-auto{
	margin: auto;
}

.b-center{
	position:absolute;
	min-width: 320px;
	top:50%;
	left:50%;

	-webkit-transform:  translate(-50%, -50%);
	   -moz-transform:  translate(-50%, -50%);
	     -o-transform:  translate(-50%, -50%);
	        transform:  translate(-50%, -50%);
}

/*---------------------------------------------------------------------------------
 * Bootstrap
 *-------------------------------------------------------------------------------*/

.dropdown-menu {
	border:none;
	border-radius: 2.5px;
	box-shadow: none;
	margin: 0px 0px 0px 0px;
	min-width: 105px;
	padding: 5px 0px;
}

.dropdown-menu > li > a{
	font-family: 'Open Sans', sans-serif;
	color: #505458;
	padding:  2.5px 10px;
}
.dropdown-menu > li > a > i{
	margin-right: 5px;
}




/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	p{
		font-size: 20px;
		line-height: 20px;
	}

	.sb-site-container > .cp-content > .user-info > h1 {
		font-size: 25px;
		margin-bottom: 0px;
	}
    .sb-site-container > .cp-content > .user-info > h3 {
    	margin: 0px auto 30px auto;
		width: 250px;
	}
	.thumbs{
		width: 145px;
	}
}